body {
    font-family: helvetica;
    font-size: 12px;
    margin: 0 auto;
    background-image: url('deg.jpg');
    background-size: 100px 100px; 
    background-repeat: no-repeat;
    background-color: #fff;

 }

h1 {
	font-size: 3rem;
}

