body {
	font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    margin: 0 auto;
    background-image: url(/img/deg.jpg);
    background-repeat: no-repeat;
    background-color: #fff;

 }

.hdr a {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: white;
	text-decoration: none;
	transition: all 1s linear;
}

a:hover {
	color: black;
}

.hdr {
	width: 100%;
}

.a{
	margin-top: 150px;

}